@import "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: $fontStack;
   background-color: $backgroundColor;
   color: $textColor;
}
img {
   width: 100%;
   height: auto;
}