@import "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: $fontStack;
   background-color: $backgroundColor;
   color: $textColor;
   &.modal--open {
      height: 100vh;
      overflow-y: hidden;
      padding-right: 15px;
   }
}
img {
   width: 100%;
   height: auto;
}